
<!DOCTYPE html>
<html lang="en">

<div class="jumbotron">
  <h1>Welcome to eProperty!</h1>
  <p>An easy way to manage your property online!</p>
  <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
</div>


</html>