<!DOCTYPE html>
<html dir="rtl" lang="ar">

<div class="row-fluid">
  <div class="col-md-4 col-xs-15 col-sm-12">
	<h1>مرحبًا</h1>
  </div>
  <div class="col-md-8 col-xs-15 col-sm-12">
    <br>
    <br>
    <br>
  	<p> التطبيق عبارة عن مشروع جامعي اعمل عليه حاليًا، الشريحه المستهدفة اي شخص يملك مجموعه قليله من العقارات </p>
    <p> ويريد متابعتها بنفسه والإستغناء عن مكتب العقار</p>
    <p>نقاط مهمه:</p>
    <ul>
      <li> توجد مشكلة بسيطه بصفحة عرض العقار وصفحة إحصائيات الفواتير، قد تحتاج لتحديث الصفحه لعرض الصور.
      <li> يجب استخدام عنوان صحيح مطابق لما هو في قوقل ماب لكي تظهر الخريطة في صفحة العقار.
      <li> دعم العربية ليس كامل حتى الآن.
    </ul>
    <br>
    <p> اتمنى تنبيهي في حال واجهتك اخطاء، مشاكل، او اذا كان لديك اقتراحات ممكن ان تُحسن التطبيق!</p>
    <p> يمكن التواصل معي عبر تويتر <%= link_to "alioh", "https://twitter.com/alioh"%></p>
    <p> او البريد: ali.alohali@gmail.com</p>
    <br>
    <p> شكرًا!</p>
    <br>
    <p><a class="btn btn-primary btn-lg" href="users/sign_up" role="button">سجل!</a></p>
  </div>
</div>